name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run Unit Tests
        run: npm test -- --coverage --watchAll=false
        env:
          CI: true
          NODE_OPTIONS: --openssl-legacy-provider
          DISABLE_ESLINT_PLUGIN: true

  cypress-e2e:
    needs: unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          wait-on: 'http://localhost:3000'
          # Wait longer for start
          wait-on-timeout: 120
        env:
          NODE_OPTIONS: --openssl-legacy-provider
          DISABLE_ESLINT_PLUGIN: true
